<ion-content [fullscreen]="true">
  <div class="chat">
    <div class="header">
      <div class="notify d-flex">
        <div class="user-img flex-shrink-0">
          <div class="user user-online">
            <img src="/assets/image/Group.svg" alt="">
          </div>
        </div>
        <div class="media flex-grow-1">
          <div class="user-name">Dr.Kapil Mohan Sharma</div>
          <img src="../../../assets/image/verify_img.svg" alt="">
        </div>
      </div>
    </div>
    <div class="chat-body">
      <div class="chat-scroll">
        <ul class="lists">
          <li class="date">1 FEB 12:00</li>
          <li class="notify received d-flex">
            <div class="media flex-grow-1">
              <div class="msg-box">
                <div>
                  <p>I commented on Figma, I want to add some fancy icons. Do you have any icon set?</p>
                </div>
              </div>
            </div>
          </li>
          <li class="notify sent d-flex">
            <div class="media flex-grow-1">
              <div class="msg-box">
                <div>
                  <p>I am in a process of designing some. When do you need them?</p>
                </div>
              </div>
            </div>
          </li>
          <li class="notify received d-flex">
            <div class="media flex-grow-1">
              <div class="msg-box">
                <div>
                  <p>Next month?</p>
                </div>
              </div>
            </div>
          </li>
          <li class="date">08:12</li>
          <li class="notify sent d-flex">
            <div class="media flex-grow-1">
              <div class="msg-box">
                <div>
                  <p>I am almost finish. Please give me your email, I will ZIP them and send you as son as im finish.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="notify sent d-flex">
            <div class="media flex-grow-1">
              <div class="msg-box">
                <div>
                  <p>?</p>
                </div>
              </div>
            </div>
          </li>
          <li class="date">08:43</li>
          <li class="notify received d-flex">
            <div class="media flex-grow-1">
              <div class="msg-box">
                <div>
                  <p>maciej.kowalski@email.com</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</ion-content>
<ion-footer mode="ios">
  <div class="msg-send-box">
    <div class="input-group">
      <input type="text" class="msg-send" placeholder="Message...">
      <button type="button" class="msg-send-btn ms-2">
        <i class="fab fa-telegram-plane"></i></button>
    </div>
  </div>
</ion-footer>