

<ion-content [fullscreen]="true">
  <div class="main">
    <div class="profileDiv">
        <img src="/assets/image/profile_img.png" alt="">
        <div class="details">
            <ion-label class="name">Khush Ahuja </ion-label>
            <ion-label class="id">Location- Lucknow</ion-label>
        </div>
        <div class="chatBtn" routerLink="/tabs/chat">
          <ion-label>Chat</ion-label>
          <img src="/assets/image/chat_img.svg" alt="">
        </div>
    </div>
    <div class="img">
      <img src="/assets/image/expert_1.svg" alt="">
  </div>
  <div class="newBtn">
    <div class="btn1">
      <ion-label>New Issue</ion-label>
    </div>
    <div class="btn1">
      <ion-label>Resolved Issues</ion-label>
    </div>
  </div>
  <div class="newImg">
    <img src="/assets/image/new_img.svg" alt="">
  </div>
  <div class="btn2">
    <ion-label>Upcoming Farming Sessions</ion-label>
  </div>
  <div class="lastDiv">
    <div class="subDiv">
      <img src="/assets/image/profile_img.png" alt="">
        <div class="details">
            <ion-label class="name">Dr. Kapil Mohan Sharma </ion-label>
            <ion-label class="id">Optimal Growth of Rice</ion-label>
            <ion-label class="id">2 Sept 2:00 PM</ion-label>
        </div>
    </div>
    <div class="subDiv">
      <img src="/assets/image/profile_img.png" alt="">
        <div class="details">
            <ion-label class="name">Dr. Samman Sarkar </ion-label>
            <ion-label class="id">Seasonal Crops</ion-label>
            <ion-label class="id">2 Sept 2:00 PM</ion-label>
        </div>
    </div>
  </div>

  <div class="hrLine">
    <ion-label>------------More Sessions On The Way------------</ion-label>
  </div>
  </div>
</ion-content>
